hr{
  width: 1200px;
  text-align: center;
  
  }
  .logo{
    height:170px;
    width:170px;
}
h1{
    padding-top:60px;
    
}
.h1-font{
    font-family: "Oswald";
    font-size: 45px;
}

  .h3-font{
      padding-top: 40px;
      padding-left: 70px;
      font-family: oswald;
  }
  .bg{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
  }
 